# Compiled Object files
*.slo
*.lo
*.o
#*.obj
obj/*
obj_debug/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
quartet
quartet_release
view_tet
view_tet_release

